<!DOCTYPE html>

<html>
    <head>

        <title>Pay With PayPal</title>

        <style>
            #body{
                border:4px solid grey;
                width: 30%;
                margin: 45vh auto;
                background: whitesmoke;
            }
            #insider{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10%;
            }
        </style>
    </head>

    

    <body>
        <div id="body">
            <div id="insider">
                <div>
                    <h1>Pay with PayPal</h1>
                </div>
                <div>
                    {{ form.render }}
                </div>
                
                
            </div>
        </div>
    </body>
</html>